# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Virtual environment
venv/
.env/

# IDE
.vscode/
.idea/

# Logs & checkpoints
*.log
*.pth
*.pt
*.ckpt
checkpoints/
runs/
wandb/

# Datasets (large, can regenerate)
dataset/raw/
data/

# OS
Thumbs.db
.DS_Store

# Temp
.ipynb_checkpoints/
